.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main{
    width: 400px;
    height: 250px;
}

.right1{
    width: 250px;
    height: 250px;
    float: left;
}
.left1{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right4{
    width: 250px;
    height: 250px;
    float: left;
}
.left2{
    width: 150px;
    height: 150px;
    float: left;
}
.left3{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.left4{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.right2{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}
.right3{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    clear: both;
}

.footer{
    width: 400px;
    height: 100px;
    background-color:  #d98d30;
    clear:both;
}